@{
    ViewBag.Title = "Калькулятор";
}

<h2>Простой калькулятор</h2>

<form asp-action="Index" method="post">
    <label>Число 1:</label>
    <input type="number" step="any" name="number1" required />

    <br />

    <label>Число 2:</label>
    <input type="number" step="any" name="number2" required />

    <br />

    <label>Операция:</label>
    <select name="operation">
        <option value="Add">Сложение</option>
        <option value="Subtract">Вычитание</option>
        <option value="Multiply">Умножение</option>
        <option value="Divide">Деление</option>
    </select>

    <br />
    <br />
    <button type="submit">Вычислить</button>
</form>

@if (ViewBag.Result != null)
{
    <p><strong>@ViewBag.Result</strong></p>
}
