@{
    ViewData["Title"] = "Главная";
}

<h1>Добро пожаловать!</h1>
<p>Это главная страница веб-приложения.</p>
<p><a href="/Home/Welcome">Перейти к приветствию</a></p>
<p><a href="/Home/Time">Узнать текущее время</a></p>
