@page
@model Homework.Pages.AboutModel
@{
    ViewData["Title"] = "About restaurant";
}

<div class="text-center">
    <h1 class="display-4">О ресторане</h1>
    <p>
        <strong>Bon Appétit</strong> — это больше, чем просто ресторан.
    </p>
    <p>
        Основанный в 2012 году, он стал местом, где традиции европейской кухни сочетаются с современным подходом к подаче и сервису.
    </p>
    <p>
        Мы гордимся тем, что используем только свежие и натуральные ингредиенты, а каждое блюдо готовим с любовью и вниманием к деталям.
    </p>
    <p>
        Наша команда поваров — настоящие мастера своего дела, которые стремятся удивить вас вкусами, ароматами и уютной атмосферой.
    </p>
    <p>
        Заходите на обед, ужин или просто на чашечку ароматного кофе — у нас вы всегда желанный гость.
    </p>
</div>
