@page
@model Homework.Pages.AddressesModel
@{
    ViewData["Title"] = "Restaurant addresses";
}

<div class="text-center">
    <h1 class="display-4">Наши рестораны</h1>
    <ul class="list-unstyled">
        <li><strong>Москва:</strong> ул. Вкусная, д. 10</li>
        <li><strong>Санкт-Петербург:</strong> пр. Гастрономический, д. 5</li>
        <li><strong>Казань:</strong> ул. Кулинарная, д. 3</li>
    </ul>
</div>
