@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Вкусно, сытно, по-домашнему. Заходите перекусить или провести вечер — мы всегда вам рады!</p>
</div>
